:root {
  /* --primary-color: #eeaa2b; */
  --primary-color: #e50914;
  --white: #eeeeee;
  --black: #111111;
  --gray: #888888;
  --light-gray: #bbbbbb;

  --margin-paragraph: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
